/* Profile Styles */
img.right-image {
    float: right;
    padding-bottom: 5px;
    padding-left: 5px;
}

img.left-image {
    float: right;
    padding-bottom: 5px;
    padding-right: 5px;
}

.profile .profile-body {
    float: left;
}